:root {
--firth-color: white; 
--second-color: black;
--third-color: orange; 
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    background-color: black;
    font-family: sans-serif;
}
/* section Header  */
header {
    width: 100%;
    height: 70px;
    background-color: var(--firth-color);
    padding: 0 5% 0 3%;
    font-size: 1.6rem;
}
nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
nav div img:first-child {
    width: 120px;
    vertical-align: middle;
}
nav div img:nth-child(3) {
    width: 30px;
    vertical-align: bottom;
    margin-left: 40px;
}
div img:nth-child(2) {
    display: none;
}
img + h1 {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.6rem;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--second-color);
}
/* Section Main */
main {
    margin-bottom: 70px;
}
section {
    padding: 0 5% 0 3%;
    font-size: 1.6rem;
}
section > div:first-child {
    background-color: var(--third-color);
}
section div {
    margin: 10px 0;
    border-radius: 15px;
    background-color: var(--firth-color);
    padding: 10px 10px;
}
div img {
    width: 25px;
}
button {
    width: 150px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--third-color);
    padding: 10px 10px;
}
/* section footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--firth-color);
    font-size: 1.6rem;
    bottom: 0;
}
footer div {
    margin: 1% 0 1%;
}
footer p img {
    width: 25px;
    height: auto;
}

@media screen and (max-width: 767px) and (min-width: 5px) {
    html {
        font-size: 0.5rem;
    }
    /* section header */
    nav div img:first-child {
        display: none;
    }
    nav div img:nth-child(2) {
        display: inline-block;
        width: 50px;
        height: auto;
        vertical-align: middle;
    }
    div > h1 {
        display: inline-block;
        vertical-align: bottom;
        font-size: 1.6rem;
    }
    form label, input, button {
        display: block;
    }
}    